html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Background pattern from Gradient Magic at https://www.gradientmagic.com/collection/lightbg/gradient/1584621486136*/
  background-image: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 2px,
      rgba(0, 0, 0, 0.03) 2px,
      rgba(0, 0, 0, 0.03) 3px,
      transparent 3px,
      transparent 5px,
      rgba(0, 0, 0, 0.03) 5px,
      rgba(0, 0, 0, 0.03) 7px
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 9px,
      rgb(255, 255, 255) 9px,
      rgb(255, 255, 255) 21px,
      rgb(255, 255, 255) 21px,
      rgb(255, 255, 255) 31px,
      rgb(255, 255, 255) 31px,
      rgb(255, 255, 255) 40px
    );
  background-size: 20px 20px;
}

.wrapper {
  flex: 1 0 auto;
}

.navbar {
  background-color: #dae8e6 !important;
  height: 120px;
  font-size: 25px;
  font-family: "Lato";
}

.navbar-nav {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.nav-link {
  margin-left: 25px;
  margin-right: 25px;
  color: #3a4f4c !important;
}

.nav-link:hover {
  color: #9c8a83 !important;
}

.active {
  color: #9c8a83 !important;
}

.navbar-brand img {
  height: 80px;
  width: 80px;
  margin-left: 20px;
}

footer {
  background-color: #9c8a83;
  color: white;
  text-align: center;
}

.icons {
  font-size: 35px;
  padding: 1%;
}

.fab {
  margin-right: 15px;
  margin-left: 15px;
}

.carousel-inner {
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
}

h1 {
  color: #3a4f4c;
  font-size: 40px;
  margin-left: 15%;
  font-family: "Playfull Afair";
  margin-top: 25px;
}

.welcomeText {
  width: 70%;
  margin-left: 15%;
  font-family: "Lato";
  color: #3a4f4c;
}

h2 {
  color: #3a4f4c;
  font-family: "Playfull Afair";
  margin-left: 15%;
  margin-top: 50px;
}

.shopContainer {
  padding-bottom: 2%;
  padding-top: 1%;
}

.shopImg {
  display: flex;
  width: 70%;
  margin-left: 15%;
}

.shopContainer img {
  width: 33%;
  padding: 1%;
  height: auto;
}

.shopContainer a {
  font-family: "Lato";
  background-color: #9c8a83;
  color: white;
  padding: 1%;
  text-decoration: none;
  width: 300px;
  font-size: 20px;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  color: #3a4f4c;
  font-family: "Playfull Afair";
  margin-left: 15%;
  margin-top: 50px;
}

.collectionText {
  width: 70%;
  margin-left: 15%;
  font-family: "Lato";
  color: #3a4f4c;
}

.collectionsBtn {
  font-family: "Lato";
  background-color: #9c8a83;
  color: white;
  padding: 1%;
  text-decoration: none;
  width: 300px;
  font-size: 20px;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 30px;
}

.collectionsBtn:hover {
  text-decoration: none;
  color: white;
}
.colletionImg {
  width: 70%;
  margin-left: 15%;
}
.colletionImg img {
  width: 49%;
  height: auto;
}
